//- mixin video(video)
//-   img(src=video.thumbUrl, alt=video.title, style="width: 200px; height: auto;")
//-   a(href=`/videos/${video.id}`).video-mixin
//-     div.video-mixin__thumb
//-     div.video-mixin__data
//-       span.video-mixin__title=video.title
//-       div.video-mixin__met
//-         span #{video.owner.name} ✅
//-         span #{video.meta.views}회
//-     h4
//-         a(href=`/videos/${video.id}`)=video.title
//-     p=video.description
//-     ul
//-       each hashtag in video.hashtags
//-             li=hashtag
//-     small=video.createdAt
//-     hr
mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)
        div.video-mixin__data
            span.video-mixin__title=video.title
            div.video-mixin__meta
                span #{video.owner.name} • 
                span #{video.meta.views} 회